.painel-administrativo-container {
  background-color: rgba(196,196,196,0.25);
  .painel-tabs {
    width: 100%;
    background-color: #8F8B8B;
  }
  .painel {
    background-color: rgba(196,196,196);
    padding: 12px;
    .painel-content {
      height: calc(100% - (12px));
      background-color: #F5F5F5;
      padding: 16px;
    }
  }
}
